
@{
    ViewBag.Title = "Application Administration";
}

<h2>Application Administration</h2>

<ul>
    <li>@Html.ActionLink("Manage Movies", "Index", "Movies")</li>
    <li>@Html.ActionLink("Manage Reviews", "Index", "Reviews")</li>
    <li>@Html.ActionLink("Manage Users", "Index", "Account")</li>
</ul>

