@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1452 Smith Rd.<br />
    Traverse City, MI 49696-6399<br />
    <abbr title="Phone">P:</abbr>
    231.933.4293
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:piechop@mail.nmc.edu">piechop@mail.nmc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:theundersigned@hotmail.com">theundersigned@hotmail.com</a>
</address>